@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

@section css {

    <link href="~/css/signin.css" rel="stylesheet" />
}

<div class="row text-center container-signin">
    <form method="post" asp-action="Login" asp-controller="Account" class="form-signin">
        <img class="mb-4" src="~/images/slika.jpg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>

        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="Email" class="sr-only">Email address</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <span asp-validation-for="Email" class="text-danger"></span>

        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Password" class="text-danger"></span>

        <div class="custom-control custom-checkbox mt-3">
            <input type="checkbox" class="custom-control-input" asp-for="RememberMe">
            <label class="custom-control-label" asp-for="RememberMe">Remember me</label>
        </div>

        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Login</button>
    </form>
</div>
