@model TournamentCreateViewModel

@{
    ViewData["Title"] = "Kreiraj turnir";
}

<div class="row">
    <div class="col-md-10 mx-auto">
        <h1 class="h1 my-4 text-success text-center">Kreiraj turnir</h1>
        <form enctype="multipart/form-data" asp-action="CreateTournament" asp-controller="Administration" method="post">
            <div class="form-group row">
                <div class="col-sm-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label asp-for="PriceParticipation" class="control-label"></label>
                    <input asp-for="PriceParticipation" class="form-control" />
                    <span asp-validation-for="PriceParticipation" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="PricePerGame" class="control-label"></label>
                    <input asp-for="PricePerGame" class="form-control" />
                    <span asp-validation-for="PricePerGame" class="text-danger"></span>
                </div>
                <div class="col-sm-3">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="col-sm-3 text-center mt-4 pt-3">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" value="true" checked class="custom-control-input" asp-for="IsPayed">
                        <label class="custom-control-label" asp-for="IsPayed">Placena reklama</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3">
                    <label asp-for="SportId" class="control-label"></label>
                    <select class="custom-select mb-3" asp-for="SportId" asp-items="@(new SelectList(Model.Sports, "Id", "Name"))">
                    </select>
                    <div class=" form-group row">
                        <div class="col-12">
                            <label asp-for="Image1" class="control-label"></label>
                            <div class="custom-file">
                                <input asp-for="Image1" class="form-control custom-file-input" />
                                <label class="custom-file-label">Choose File...</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label asp-for="CityId" class="control-label"></label>
                    <select class="custom-select mb-3" asp-for="CityId" asp-items="@(new SelectList(Model.Cities, "Id", "Name"))">
                    </select>
                    <div class="form-group row">
                        <div class="col-12">
                            <label asp-for="Image2" class="control-label"></label>
                            <div class="custom-file mb-2">
                                <input asp-for="Image2" class="form-control custom-file-input" />
                                <label class="custom-file-label">Choose File...</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" style="height:120px"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group row">
                <div class="col-8 mx-auto">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" value="Kreiraj" class="btn btn-primary btn-lg btn-block" />
                        </div>
                        <div class="col-6">
                            <a asp-action="ListTournaments" asp-controller="Administration" class="btn btn-secondary btn-lg btn-block">Turniri</a>
                        </div>
                    </div>
                </div>
            </div>


            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }
        </form>
    </div>
</div>


